<h1>All posts</h1>

<div class = 'row'>
<% @posts.each_with_index do |p, i| %>

	<% if i % 4 == 0 %>
		</div><div class='row'>
	<% end %>

	<div class= 'span3'>
			<div><%= link_to p.description, post_path(p) %></div>
			<div>User: <%= p.user.email %> </div>

			<%= link_to "Go!", p.link %>
			<%#= link_to "Show", post_path(p) %>

			<%= image_tag p.image.url(:thumb) %>


		<ul>
		<%= render p.comments%>
		<li><%= render 'comments/form',
						comment: p.comments.build,
						post: p %></li>
		</ul>
	</div>

<% end %>
